<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Helpdesk</title>
    <style>
        body {
            background: url(img/main.jpg) no-repeat; /* Путь к фоновому изображению */
            background-size: cover;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-md">
        <a class="navbar-brand">Helpdesk </a>
        <span class="navbar-text">Добро пожаловать в службу технической поддержки</span>
        <span>
            <a type="button" class="btn btn-primary" th:href="@{/login}">Войти</a>
            <a type="button" class="btn btn-primary" th:href="@{/registration}">Регистрация</a>
        </span>
    </div>
</nav>

</body>
</html>